@import url('https://fonts.googleapis.com/css2?family=Parastoo:wght@400..700&family=Rubik+Mono+One&display=swap');

html{
    background-color: #3e3e3e;
}

h1.error{
    color: yellow;
    font-family: 'Rubik Mono One', monospace;
    font-size: clamp(24px, 5vw, 50px);
}

p.error{
    color: white;
    font-family: 'Parastoo', serif;
    font-size: clamp(18px, 5vw, 37.5px);
}

a.error{
    color: black;
}
