.center{
    text-align: center;
}

.right{
    text-align: right;
}

.left{
    text-align: left;
}

.middle{
    vertical-align: middle;
}

.up{
    vertical-align: top;
}

.down{
    vertical-align: bottom;
}

