<section id="register" class=" form text-center align-middle">
    <h1>Crear una cuenta</h1>
    <form id="registerForm">
        <input type="text" name="username" placeholder="Nombre de usuario" required>
        <input type="email" name="email" placeholder="Email" required>
        <input type="email" name="confirmEmail" placeholder="Confirmar Email" required>
        <input type="password" name="password" placeholder="Contraseña" required>
        <input type="password" name="confirmPassword" placeholder="Confirmar Contraseña" required>
        <input type="date" name="dateOfBirth" required>
        <br>
        <label for="profilePicture">Foto de perfil:</label>
        <input type="file" name="profilePicture" accept="image/png, image/jpeg" required>
        <small>(Tamaño máximo: 2MB)</small>
        <br>
        <button type="submit">Registrar</button>
        
        <div class="form-group terms-group">
            <input type="checkbox" id="publicity" name="acceptPublicity">
            <label for="publicity">
                Acepto recibir correos con novedades, promociones e información.
            </label>
        </div>
        
        <div class="form-group terms-group">
            <input type="checkbox" id="terms" name="acceptTermsandConditions" required>
            <label for="terms">
                He leído y acepto los 
                <a href="/terms-and-conditions" target="_blank" rel="noopener noreferrer">Términos y Condiciones</a> 
                y la 
                <a href="/privacy-policy" target="_blank" rel="noopener noreferrer">Política de Privacidad</a>.
            </label>
        </div>
    </form>
    <div id="message"></div>
</section>